h1{
    padding: 0.8em;
    margin: 0.8em;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
}
h2{
    padding: 0.5em;
    margin: 0.5em;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
}